extends ../mixins/layout
include ../mixins/line

block content
  .music
    .music-header
      h1 MUSIC
      img(src='/images/music_header.svg') 
      +line
    .album-container
      .albums
        //- Create an album display for each album in the database
        each album in albums
          .album 
            img(src=album._.image.fit(450, 450) alt='Album Cover')
            .desc
              h2= album.title
              h4= album.releaseYear
              +line
              ul
                each track, i in album.tracks
                  li= (i+1) + ". " + track
              .listen-links
                a(href=album.spotifyUrl)
                  img(src='/images/spotify.svg' alt='Spotify')
                a(href=album.itunesUrl)
                  img(src='/images/itunes.svg' alt='iTunes')
